.code_preview {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  .code_preview_btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .code_preview_jsx {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(145, 145, 1);
  }
  .code_preview_style {
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(59, 126, 214);
  }
}
