.alert {
  display: flex;
  min-width: 300px;
  max-width: 350px;
  max-height: 50px;
  border-radius: 4px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  gap: 8px;
}
