.getStarted {
  display: flex;
  min-height: 100vh;
  width: 100%;
  .getStarted_sidebar {
    display: flex;
    flex-basis: 20%;
    background: #18181b;
    .getStarted_sidebar_wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      .item {
        display: flex;
        gap: 16px;
        align-items: center;
        padding: 8px 16px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        .item_subtitle {
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
  .getStarted_main {
    display: flex;
    flex-basis: 80%;
    background: #27272a;
  }
}
