.badge_card {
  border-radius: 8px;
  padding: 42px 16px 16px 16px;
  background: #fff;
  max-width: 250px;
  min-width: 250px;
  min-height: 300px;
  max-height: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.badge_card_label {
  padding: 8px 12px;
  border-bottom-right-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
