.page {
  display: flex;
  min-height: 100vh;
  width: 100%;
  .page_sidebar {
    display: flex;
    flex-basis: 20%;
    background: #18181b;
  }
  .page_main {
    flex-basis: 80%;
    background: #27272a;
  }
}
